extends ./bootstrap

block head
  title 限时吐槽

block body
  .container-fluid
    .panel.panel-default
      .panel-heading
        span 关于限时吐槽
        span.pull-right
          a(href="/") [返回首页]
      .panel-body
        p 每个人都有想吐槽的时候，但是吐槽往往会伤及别人，但是我却想公开地表达！
        p 如果吐槽后的内容可以被删掉就好了……
        p 嗯，这个地方就是一个吐槽过期作废的地方，放心吐槽吧~
        p 这个不是原创的创意，仅为娱乐和学习，里面的内容请勿当真。。。
