extends ./bootstrap

block head
  title 限时吐槽 - 主页
  script(src="http://cdn.bootcss.com/moment.js/2.9.0/moment-with-locales.min.js")
  script
    include:coffee ./load-records-ajax.coffee
  script
    :coffee
      $ ->
        # refresh the topic lists.
        loadRecords '#records'

        $form = $ '#topic-form'
        $form.submit (event) ->
          event.preventDefault()
          # go to that topic.
          location.href = "/#{$('#topic').val()}"

  style(type="text/css").
    .pull-right * { display: inline-block; width: auto !important; }

block body
  .container-fluid
    .panel.panel-default
      .panel-heading
        span 发表限时吐槽
        span.pull-right
          a(href="/about") [关于]
      .panel-body
        form#topic-form.form(method="POST")
          .input-group
            span.input-group-btn
              button.btn.btn-primary(type="submit") 进入
            input#topic.form-control(type="text", name="topic", placeholder="话题…")
      ul#records.list-group(data-template="<li class='list-group-item'><b>匿名者</b>在{{timeText}}在<a href='{{topic}}'>\#\{{topic}\}#</a>下说了：<br/>{{content}}</li>")
