extends ./bootstrap

block head
  title 发布限时消息

block body
  .panel.panel-default
    .panel-heading 限时消息
    .panel-body
      form#rec-form.form(action="rec/new", method="POST")
        .input-group
          input.form-control(type="text", name="content")
          select.form-control(name="ttl")
            option(value="1") 1分钟
            option(value="2") 2分钟
            option(value="5") 5分钟
          span.input-group-btn
            button.btn.btn-default(type="submit") 发表
