extends ./bootstrap

block head
  title 限时吐槽 - #{topic}
  script(src="http://mindmup.github.io/bootstrap-wysiwyg/external/jquery.hotkeys.js")
  script(src="http://www.bootcss.com/p/bootstrap-wysiwyg/bootstrap-wysiwyg.js")
  script(src="http://cdn.bootcss.com/moment.js/2.9.0/moment-with-locales.min.js")
  script
    include:coffee ./load-records-ajax.coffee
  script
    :coffee
      $ ->
        loadRecords '#records'

        $form = $ '#rec-form'
        $form.submit (event) ->
          event.preventDefault()
          $('#content').val($('#content-editor').html());
          $.post($form.attr('action'), $form.serialize())
          .success (data) ->
            loadRecords.run()
            $('#content-editor').empty()
          .error (err) ->
            alert '有错误！'
            location.reload()

        $('#content-editor').wysiwyg();

  style(type="text/css").
    #picture-btn { position: relative; }
    .magic-overlay { position: absolute; top: 0; right: 0; z-index: 999; opacity: 0; width: 100px; height: 100%; }
    #content-editor { min-height: 4em; height: auto !important; border-bottom-left-radius: 0; border-bottom-right-radius: 0; }
    .editor-toolbar { padding: 0.2em; background-color: #efefef; border: 1px solid #ccc; border-top: 0; border-radius: 0 0 4px 4px; }
    .pull-right * { display: inline-block; width: auto !important; }

block body
  .container-fluid
    .panel.panel-default
      .panel-heading
        span 发表限时吐槽：#{topic}
        span.pull-right
          a(href="/about") [关于]
      .panel-body
        form#rec-form.form(action="#{topic}/rec/new", method="POST")
          #content-editor.form-control(type="text", name="content")
          input#content(type="hidden", name="content")
          .editor-toolbar.form-inline
            span#picture-btn.btn.btn-default.btn-sm(data-role="editor-toolbar")
              span.glyphicon.glyphicon-picture
              input.magic-overlay(type="file", data-role="magic-overlay", data-target="#picture-btn", data-edit="insertImage")
            .pull-right
              select.form-control.input-sm(name="ttl")
                option(value="5")  5分钟
                option(value="10") 10分钟
                option(value="15") 15分钟
                option(value="20") 20分钟
              | &nbsp;
              button.btn.btn-primary.btn-sm(type="submit") 发表
      ul#records.list-group(data-template="<li class=\"list-group-item\"><b>匿名者</b>在{{timeText}}说：<br/> {{content}}</li>")
